# Compiled binaries (No extension)
*
!*.*
!*/

# Specific compiled formats
*.out
*.o
*.obj
*.exe
*.gch

# OS files
.DS_Store
Thumbs.db

# Keep these extensions
!*.c
!*.cpp
!*.h
!*.hpp
!*.pdf
!*.txt
!*.md
!*.tex
!*.sh
